@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  @apply max-w-[1140px]  mx-auto px-[15px];
}
a {
  cursor: pointer;
  transition: all 0.3s ease;
}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translate(-50%, -30%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
.bg-image {
  background-image: url("/img/frame two.png");
}
